@use '../abstracts/' as *;

.primary-nav {
     background: $color-primary-900;
     justify-content: space-between;
     position: fixed;
    

     width: min(100% - var(--padding), var(--max-width));
     z-index: 999;

    & .logo {
        cursor: pointer;
        height: 2em;
        width: 2em;     
    }

    & ul {
        gap: $size-6;
        list-style: none;

        & li a {
            background-color: transparent;
            border: none;
            color: $color-neutral-500;
            text-decoration: none;
            transition: color 350ms ease-out;

            &:hover {
                color: $color-neutral-100;

            }
        }

        & .primary-nav__user-info {
            gap: .5em;

            & .primary-nav__user-info__name {
                color: $color-neutral-500;
                font-size: 12px;
            }

            & .primary-nav__user-info__img {
                aspect-ratio: 1;
                border-radius: 50%;
                width: 2rem;

            }
        }

        & .primary-nav__icon {
            background-color: transparent;
            border: 0;
            color: $color-neutral-100;
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 250ms ease-out;

            &:is(:hover, :focus) {
                opacity: 1;
            }
        }
    }     
}