@use '../abstracts/' as *;

.loading-screen {
    background: $color-primary-900;
    display: grid;
    height: 100vh;
    left: 0;
    place-items: center;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1000;

    & .loading-bars {
        position: relative;
        width: 80%;

        & .loading-bars__top,
        & .loading-bars__bottom {
            border-radius: 100vw;
            left: 0;
            position: absolute;
            top: 0;
        }

        & .loading-bars__top {
            background-color: $color-neutral-100;
            height: 2px;
            width: 0;
            z-index: 10;
        }

        & .loading-bars__bottom {
            background-color: $color-neutral-500;
             height: 2px;
            width: 100%;
        }

        & .loading-bars__percentage {
            text-align: right;
        }
    }
}