@use "../abstracts/" as *;

.timer-list {

    & .timer-item {
        display: flex;
        flex-direction: column;
        min-width: 10rem;
        padding-bottom: 0;
        position: relative;

        & .timer-item__minutes {
            font-size: 3rem;
            font-weight: 300;

            & span {
                font-size: 1rem;
                margin-left: -.5rem;
            }
        }

        & .timer-item__description {
            margin-bottom: 1.25rem;
            margin-top: .75rem;
        }

        & .timer-item__name {
            translate: -10px -10px;
        }

        & svg {
            color: $color-neutral-500;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            transition: color 150ms ease-out;

            &:is(:hover, :focus) {
                color: $color-accent-500;
            }
        }
    }

    & .custom-timers {
        grid-column: 1 / -1;

        & .custom-timers__heading {
            font-size: $size-7;
        }

        & .custom-timers__preset-description {
            align-self: center;
        }

        & .custom-timers__preset {

            & .custom-timers__preset__name {
                border-bottom: 1px solid $color-neutral-100;
                text-align: center;
            }

            & .button {
                color: $color-primary-900;

                &:is(:hover, :focus) {
                    background-color: $color-neutral-100;
                }
            }

            & .custom-timers__preset__feature-list {
                
                & .custom-timers__preset__feature-list__feature {
                    
                    & + * {
                        margin-top: $size-2;
                    }
                }
            }
        }
    }
}